[Unit]
Description=IMAPorter (Email Relay to Gmail)
After=network-online.target spamassassin.service
Wants=network-online.target

[Service]
Type=simple
ExecStart=/opt/imaporter/venv/bin/python /opt/imaporter/imaporter.py
WorkingDirectory=/opt/imaporter
Restart=always
RestartSec=30
User=imaporter
NoNewPrivileges=true
ProtectHome=yes

[Install]
WantedBy=multi-user.target
